body {
	margin: 0;
	background-color: grey;
	color: white;
	justify-content: center;
	align-items: center;
}
#home {
	padding: 0;
}
.header {
	background-color: blue;
	position: absolute;
	padding: 0;
	top: 0;
	text-align: center;
	height: 100px;
	color: white;
	width: 100%;
}
#defaultCanvas0 {
	display: flex;
	left: 50%;
	top: 110px;
	position: absolute;
	transform: translate(-50%);
}
a {
	padding: 15px;
	display: block;
	text-decoration: underline;
	text-decoration-color: white;
	color: white;
	text-align: center;
}
ul {
	top: 200px;
	position: absolute;
	left: 75px;
}